<a href="https://colab.research.google.com/github/salomonjose00/Proyecto/blob/main/Quiz_A9_Evidencia_SJR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz A9 // Salomón José Ramos A01382587

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib as mlp
import seaborn as sns
import plotly.express as px

In [ ]:
path= '/content/antropometria-dataset.csv'

In [ ]:
df = pd.read_csv(path)
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [ ]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

P1 
En el regression simple, cadera=  b0  + b1*peso, ¿Cual seria valor de R-squared:?

In [ ]:
import statsmodels.api as sm
from sklearn import linear_model

In [ ]:
modelA= sm.OLS.from_formula('cadera~peso',
                            data=df
)
resultA = modelA.fit()
resultA.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 cadera   R-squared:                       0.604
Model:                            OLS   Adj. R-squared:                  0.604
Method:                 Least Squares   F-statistic:                 2.748e+04
Date:                Wed, 19 Oct 2022   Prob (F-statistic):               0.00
Time:                        03:47:34   Log-Likelihood:                -65165.
No. Observations:               18032   AIC:                         1.303e+05
Df Residuals:                   18030   BIC:                         1.304e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     57.4600      0.252    228.032      0.000      56.966      57.954
peso           0.6227      0.004    165.771      0.000       0.615       0.630
==============================================================================
Omnibus:                    22321.754   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6875856.023
Skew:                           6.463   Prob(JB):                         0.00
Kurtosis:                      97.786   Cond. No.                         253.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

P2 ¿Cual seria coeficiente de correlación entre ' peso ' y ' cintura ' ?

In [ ]:
df['peso'].corr(df['cintura'])

0.79167686976069

In [ ]:
df.corr(method='pearson')

,folio,intp,entidad,sexo,edad,meses,peso,ropa,talla,cintura,cadera,sistol,diastol,PrimaryLast,est_dis,est_urb,est_marg,pondef,est_var
folio,1.000000,-0.017127,0.999979,0.010344,0.026894,0.014225,-0.044368,0.011953,-0.071853,-0.026543,-0.032166,0.003985,-0.018598,NaN,-0.094484,-0.107161,0.002257,0.010347,0.999845
intp,-0.017127,1.000000,-0.017200,0.046257,-0.636936,-0.006015,-0.374168,-0.007191,-0.144495,-0.421887,-0.321075,-0.340492,-0.278265,NaN,-0.006402,-0.000918,0.016604,0.042477,-0.017334
entidad,0.999979,-0.017200,1.000000,0.010380,0.027015,0.014288,-0.044406,0.011915,-0.071862,-0.026583,-0.032198,0.004068,-0.018564,NaN,-0.094805,-0.107293,0.001842,0.010179,0.999861
sexo,0.010344,0.046257,0.010380,1.000000,0.039906,-0.000934,-0.124461,-0.001227,-0.463303,0.014791,0.169966,-0.083550,-0.057971,NaN,0.002736,0.007622,-0.014616,-0.041621,0.010459
edad,0.026894,-0.636936,0.027015,0.039906,1.000000,0.003416,0.317050,0.018021,0.021070,0.478879,0.340062,0.535218,0.345657,NaN,-0.035563,-0.019963,-0.027559,0.037230,0.026532
meses,0.014225,-0.006015,0.014288,-0.000934,0.003416,1.000000,-0.004255,0.003584,0.008326,0.000214,0.000300,0.009473,-0.004480,NaN,0.001648,0.000554,-0.001311,0.015791,0.014309
peso,-0.044368,-0.374168,-0.044406,-0.124461,0.317050,-0.004255,1.000000,0.006378,0.556587,0.791677,0.777061,0.353440,0.358054,NaN,0.087096,0.112852,-0.106389,0.085659,-0.042902
ropa,0.011953,-0.007191,0.011915,-0.001227,0.018021,0.003584,0.006378,1.000000,-0.005135,0.007701,0.003628,0.055130,-0.012078,NaN,-0.024589,-0.037460,0.015826,-0.050711,0.011431
talla,-0.071853,-0.144495,-0.071862,-0.463303,0.021070,0.008326,0.556587,-0.005135,1.000000,0.245208,0.273173,0.142837,0.152398,NaN,0.085241,0.109504,-0.096508,0.097229,-0.070432
cintura,-0.026543,-0.421887,-0.026583,0.014791,0.478879,0.000214,0.791677,0.007701,0.245208,1.000000,0.863396,0.403265,0.362961,NaN,0.049018,0.071307,-0.067250,0.062563,-0.025732
cadera,-0.032166,-0.321075,-0.032198,0.169966,0.340062,0.000300,0.777061,0.003628,0.273173,0.863396,1.000000,0.307012,0.296613,NaN,0.072143,0.103383,-0.099546,0.065710,-0.030944
sistol,0.003985,-0.340492,0.004068,-0.083550,0.535218,0.009473,0.353440,0.055130,0.142837,0.403265,0.307012,1.000000,0.663961,NaN,-0.013664,-0.012750,-0.014379,0.014744,0.003898
diastol,-0.018598,-0.278265,-0.018564,-0.057971,0.345657,-0.004480,0.358054,-0.012078,0.152398,0.362961,0.296613,0.663961,1.000000,NaN,0.020553,0.028117,-0.021853,0.034317,-0.018166
PrimaryLast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
est_dis,-0.094484,-0.006402,-0.094805,0.002736,-0.035563,0.001648,0.087096,-0.024589,0.085241,0.049018,0.072143,-0.013664,0.020553,NaN,1.000000,0.865379,-0.231419,0.127373,-0.078457
est_urb,-0.107161,-0.000918,-0.107293,0.007622,-0.019963,0.000554,0.112852,-0.037460,0.109504,0.071307,0.103383,-0.012750,0.028117,NaN,0.865379,1.000000,-0.466739,0.247599,-0.092228
est_marg,0.002257,0.016604,0.001842,-0.014616,-0.027559,-0.001311,-0.106389,0.015826,-0.096508,-0.067250,-0.099546,-0.014379,-0.021853,NaN,-0.231419,-0.466739,1.000000,-0.291340,-0.002377
pondef,0.010347,0.042477,0.010179,-0.041621,0.037230,0.015791,0.085659,-0.050711,0.097229,0.062563,0.065710,0.014744,0.034317,NaN,0.127373,0.247599,-0.291340,1.000000,0.012575
est_var,0.999845,-0.017334,0.999861,0.010459,0.026532,0.014309,-0.042902,0.011431,-0.070432,-0.025732,-0.030944,0.003898,-0.018166,NaN,-0.078457,-0.092228,-0.002377,0.012575,1.000000

P3 En el regression simple, diastol=  b0  + b1*sistol, ¿Cual seria valor de Durbin-Watson:?

In [ ]:
#alternative 
#cadera = peso*b1 + b0

model_ols = sm.OLS.from_formula("diastol ~ sistol", data=df)
result = model_ols.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                diastol   R-squared:                       0.439
Model:                            OLS   Adj. R-squared:                  0.439
Method:                 Least Squares   F-statistic:                 1.409e+04
Date:                Wed, 19 Oct 2022   Prob (F-statistic):               0.00
Time:                        04:37:05   Log-Likelihood:                -64272.
No. Observations:               18032   AIC:                         1.285e+05
Df Residuals:                   18030   BIC:                         1.286e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     23.9991      0.440     54.564      0.000      23.137      24.861
sistol         0.4350      0.004    118.705      0.000       0.428       0.442
==============================================================================
Omnibus:                     1016.455   Durbin-Watson:                   1.745
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3973.980
Skew:                           0.128   Prob(JB):                         0.00
Kurtosis:                       5.286   Cond. No.                         830.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

P4 En el regression, diastol = b0+ b1*sistol + b2*edad + b3*peso + b4*cintura ¿Cual seria valor de b0?

In [ ]:
modelB= sm.OLS.from_formula('diastol~sistol + edad + peso + cintura', data=df)
resultB=modelB.fit()
resultB.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                diastol   R-squared:                       0.458
Model:                            OLS   Adj. R-squared:                  0.458
Method:                 Least Squares   F-statistic:                     3812.
Date:                Wed, 19 Oct 2022   Prob (F-statistic):               0.00
Time:                        04:30:43   Log-Likelihood:                -63952.
No. Observations:               18032   AIC:                         1.279e+05
Df Residuals:                   18027   BIC:                         1.280e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     20.3297      0.520     39.089      0.000      19.310      21.349
sistol         0.4140      0.004     94.447      0.000       0.405       0.423
edad          -0.0272      0.004     -6.934      0.000      -0.035      -0.020
peso           0.0825      0.006     14.154      0.000       0.071       0.094
cintura        0.0202      0.007      3.072      0.002       0.007       0.033
==============================================================================
Omnibus:                     1031.138   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3722.633
Skew:                           0.189   Prob(JB):                         0.00
Kurtosis:                       5.194   Cond. No.                     1.39e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
df = df.dropna()
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

P5 En el regression simple, diastol=  b0  + b1*sistol, ¿Cual seria valor de median de los residuos:?

In [ ]:
model = sm.OLS.from_formula("diastol ~ sistol", data=df)
answ = model.fit()

In [ ]:
answ.fittedvalues

0         51.514707
1         54.451156
2         54.668671
3         54.886186
4         55.321215
            ...
18635    120.140605
18636    120.684392
18637    124.055870
18638    126.231017
18639    128.406165
Length: 18032, dtype: float64

In [ ]:
answ.fittedvalues.median()

75.22381291082681

In [ ]:
answ.resid.median()

0.011363868221820894